.filter-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}

.filter-item {
    display: flex;
    flex-direction: column;
}

.filter-item label {
    margin-bottom: 5px;
}

.filter-item input,
.filter-item select {
    padding: 5px;
}

.pagination button {
    padding: 10px;
    background-color: #8a2be2;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px; 
    margin: 0 10px; 
    width: 150px; /* Set a fixed width */
    box-sizing: border-box; 
    margin-bottom: 40px;
}

.pagination button:hover {
    background-color: #0056b3;
}